/*Estilos da página index.html*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Montagu+Slab:wght@300&family=Nanum+Myeongjo&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'EB Garamond', sans-serif;
    }

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.texto{
    display: flex;
    flex-flow: row;
    justify-content: center ;
    align-items: center;
}

.perfil{
    background-color: rgb(188, 107, 255);
    min-height: 100vh
}

#menu li{
    display:inline;
    padding: 30px;
    justify-content: center ;
    align-items: center;
}

#menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

#menu li a:hover{
    color: blueviolet;
}

#menu{
    background-color: rgba(0, 0, 0, 0.904);
    display: flex;
    justify-content: center ;
    align-items: center;
    
}

.tamanho{
    padding: 30px;
}

.br-50{
    border-radius: 50%;
}

.tm-social{
    width: 50px;
    height: 50px;

    
}

.mb-50{
    margin-bottom: 50px;
}
/*Estilos da página contato.html*/

.ml-50{
    margin-left: 50px;
}

.campos {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.campos input {
    padding: 6px;
    font-size: 18px;
}

button {
    margin-top: 10px;
    border: 2px solid #fff;
    width: 100%;
    padding: 10px;
    color: #fff;
    background: #fc87e8;
    font-size: 18px;
    letter-spacing: 3px;
}

button:hover {
    color: #fc87e8;
    background: #fff;
    border: 2px solid #fc87e8;
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
}
.formulario {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.formulario h2 {
    font-size: 35px;
}